body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
  background-color: #000034;
  color: white;
  font-family: 'Lobster', cursive;
}

li {
  font-family: 'Courgette', cursive;*/
  font-weight: bold;
  font-size: 120%;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #4D0013;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #000034;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;

}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 170%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.back-to-top {
  font-size: 20px;
}
