#main {
    margin: auto;
    width: 90%;
  }
  
  /* input.discard {
    margin: 5% auto;
  } */
  
  /* div.discard {
    margin: 21% -4% 0% 0%;
  } */
  
  /* img.card {
    width: 100%;
  } */
  
  /* div.card {
    width: 17.26%;
    // text-align: center;
  } */
  
  /* div.token {
    width: 6%;
  } */
  
  /* div.cardRow {
    width: 100%; // decrease to make cards smaller
  } */
  
  /* div.sideways {
    width: 24.11%; 
  } */
  
  /* div.col-title {
    text-align: center;
  } */
  
  /* .start-page {
    text-align: center;
  } */
  
  /* div.pool {
    width: 10%;
  } */
  
  /* .page-title {
    text-align: center;
  } */
  
  /* .start-button {
    margin: 5% auto;
    display: block;
    
  } */
  
  /* .hand-button {
    margin: 1%;
    display: block;
    
  } */
  
  /* .center-children {
    text-align: center;
  } */
  
  /* .newpage-label {
    display: block;
    padding-top: 3%;
  } */
  
  /* .newpage-select {
    width: 15%;
  } */
  
  /* div.space {
    width: 7%;
  } */
  
  /* #intro {
    text-align: center;
  } */