body {
  background-color: #000034;
  color: white;
  font-family: 'Lobster', cursive;
}

p {
  font-size: 20px;
}

li {
  font-family: 'Courgette', cursive;*/
  font-weight: bold;
  font-size: 120%;
}

.navbar-inverse {
  background-color: #4D0013;
}

.blog-rosa {
  font-family: 'Indie Flower', cursive;
}

.blog-alex {
  font-family: 'Shadows Into Light', cursive;
}

.blog-title {
  margin-top: 60px;
}

.blog-description {
  font-size: 124%;
}

.custom-width {
  width: 400px;
}

.back-to-top {
  font-size: 20px;
}

@media (max-width: 768px) {
  .navbar-collapse {
    min-height: 380px;
  }
}
