body {
  padding-top: 50px;
  background: url("../images/background.jpg") fixed #A8BFAD no-repeat;
  background-size: 100% auto;
  background-position: center;
  background-color: #000034;
}

h1 {
  font-size: 700%;
  margin-top: 30px;
  margin-bottom: 0px;
}

p, .lead {
  font-size: 30px;
}

h1, p, .lead {
  font-family: 'Lobster', cursive;
  text-align: left;
}

li {
  font-family: 'Courgette', cursive;*/
  font-weight: bold;
}

.starter-template {
  padding: 0px 15px;
  text-align: center;
  color: white;
}

.navbar-inverse {
  background-color: #4D0013;
}
