body {
  padding-top: 50px;
  background-image: url(../images/background.jpg);
  background-size: 100% auto;
}

h1 {
  font-size: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
}

p, .lead {
  font-size: 30px;
  /*margin-top: 550px;*/
}

.starter-template {
  padding: 0px 15px;
  text-align: center;
  color: white;
}
