body {
  padding-top: 60px;
}

body.home {
  background: url("../images/blue-universe.jpg") fixed #333 no-repeat;
  background-size: 100% auto;
  padding-top: 60px;
  /* background-position: 0px 50px; */
  background-color: #333;
}

th {
    text-align: center;
}
td {
    padding: 5px;
}

.home {
  color: white;
}

/* div {
  border: 1px solid red;
} */

input.smallInput {
    text-align: center;
}

button.d-type {
    width: 50px;
}

div.row {
  padding: 10px;
}

.timer-button {
  font-size: 20px;
  margin: 5px;
}

div.stopwatch span {
  font-size: 40px;
}

#subraceDiv {
div.ability {
  padding-left: 0;
  padding-right: 0;
}

span.ability {
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

input.ability {
  display: inline;
  height: 50%;
  width: 30%;
  padding: 1px;
  text-align: center;
}

.btn-small {
  padding: 0 0 5px 0;
  width: 20px;
  height: 17px;
  transform: rotate(180deg);
}

.starts-hidden {
  display: none;
}

#traits {
  height: 215px;
  width: 200px;
}

#proficiencies {
  height: 400px;
  width: 200px;
}

select.side-column {
  padding-left: 10px;
  padding-right: 2px;
}

input.choice {
  margin-left: 10%;
  margin-right: 5%;
  display: inline;
}

label.choice-title {
  font-weight: normal;
  display: block;
}
label.choice {
  font-weight: normal;
}

label.normal {
  font-weight: normal;
}

input.checkbox-padded {
  margin-left: 10%;
  margin-right: 5%;
}

ul.equipment {
  padding-left: 10%;
}

div.side-column {
  margin: 0;
}

div.side-column input {
  text-align: center;
  width: 75%;
}

.dropdown-menu {
  background: #222;
}

a.dropdown-item:hover {
  color: white;
  text-decoration: none;
}
.dropdown-item {
  display: block;
  padding: 5px;
  color: #9d9d9d;
}

.underline {
  text-decoration: underline;
}

.borderBottom {
  border-bottom: 1px solid inherit;
}

table.nonogram {
  width: 50%;
  height: 400px;
}

.submit {
  margin: 50px;
}

.nonocell {
  /* width: 15%; */
  border: 2px solid black;
}

.countCell {
  border: inherit;
  background: inherit;
  text-align: center;
}

.cellOn {
  background-color: black;
  border: 2px solid white;
}

.cellOff {
  background-color: inherit;
  border: 2px solid black;
}

/* input.counter {
  width: 30px;
} */

input.small-text {
  text-align: center;
  width: 50px;
}

input.med-text {
  text-align: center;
  width: 60px;
}

@media (max-width: 598px) {
  body {
    background-position: 0px 50px;
    background: url("../images/stars-and-galaxy.jpg") fixed #333 no-repeat;
    background-size: auto 100%;
  }
  h1 {
    font-size: 400%;
    margin-top: 0px;
  }
  p, .lead {
    font-size: 150%;
  }
  .navbar-collapse {
    min-height: 380px;
  }
  .starter-template {
    margin-top: 275px;
  }
}
